img {
  max-width: 100%;
  vertical-align: middle; }

#main {
  max-width: 400px;
  margin: 20% auto 60px; }

.product-slides-container {
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 600px) {
    .product-slides-container:after {
      content: 'swipe';
      display: none; } }

.product-slides-wrap {
  position: relative;
  overflow: hidden; }

.product-slide {
  position: relative;
  float: left;
  width: 100%; }

.pagination {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0; }
  .pagination a {
    text-decoration: none;
    font-size: 12px;
    color: #666;
    text-transform: uppercase; }
  @media screen and (min-width: 601px) {
    .pagination {
      top: 0;
      padding: 10px; }
      .pagination li {
        display: block;
        margin-bottom: 6px;
        border: 1px solid #fff;
        transition: border 0.2s ease;
        background: #eee; }
        .pagination li.active {
          border: 1px solid red; }
        .pagination li a {
          display: block;
          width: 80px;
          padding: 5px; } }
  @media screen and (max-width: 600px) {
    .pagination {
      left: 0;
      bottom: 26px;
      text-align: center; }
      .pagination li {
        display: inline-block;
        margin: 0 1px;
        vertical-align: bottom;
        background: #eee;
        border-radius: 50%; }
        .pagination li.active {
          background: red; }
        .pagination li a {
          display: block;
          width: 14px;
          height: 14px;
          text-indent: -9999px; } }
